# ------------------------------------------
# Monit configuration file for Kibana
# ------------------------------------------

check process kibana with pidfile {{ elk_kibana_pidfile }}
  start program = "/etc/init.d/kibana restart" with timeout 60 seconds
  stop program  = "/etc/init.d/kibana stop"
  if cpu > 90% for 15 cycles then alert
  if totalmem > 90% for 15 cycles then alert
  if loadavg(15min) greater than 10 for 50 cycles then alert
  group kibana
